.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.281);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  backdrop-filter: blur(3px);
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  width: 70%;
  min-height: 80vh;
  background: rgba(244, 244, 250, 0.8);

  transition: all 0.2s ease-in-out;
  transform: scale(0.4);
}

.modal.enter-done .modal-content {
  transform: scale(1);
}

.modal.exit .modal-content {
  transform: scale(0.4);
}
@media only screen and (max-width: 900px) {
  .modal-content {
    width: 85%;
  }
}
